Repository AntoniaJost/geoarches, changes with the owners that .github/CODEOWNERS names for each.
All owners: @INRIA/geoarches-owners, @robert-DL, @gcouairon

adjust gitignore
  .gitignore
Owners: @robert-DL

first run
  docs/archesweather/run.ipynb
Owners: @robert-DL

Dev era5 variables and refactor normalization (#37)
  .gitignore
  geoarches/configs/config.yaml
  geoarches/configs/dataloader/era5.yaml
  geoarches/configs/module/metrics/era5_brier.yaml
  geoarches/configs/module/metrics/era5_deterministic.yaml
  geoarches/configs/module/metrics/era5_ensemble.yaml
  geoarches/configs/stats/graphcast.yaml
  geoarches/configs/stats/pangu.yaml
  geoarches/dataloaders/dcpp.py
  geoarches/dataloaders/era5.py
  geoarches/dataloaders/netcdf.py
  geoarches/evaluation/eval_multistep.py
  geoarches/lightning_modules/base_module.py
  geoarches/lightning_modules/forecast.py
  geoarches/metrics/brier_skill_score.py
  geoarches/metrics/deterministic_metrics.py
  geoarches/metrics/ensemble_metrics.py
  geoarches/metrics/metric_base.py
  geoarches/metrics/rank_histogram.py
  geoarches/metrics/spherical_power_spectrum.py
  geoarches/stats/gc_stats_diffs_stddev_by_level.json
  geoarches/stats/gc_stats_mean_by_level.json
  geoarches/stats/gc_stats_stddev_by_level.json
  geoarches/utils/normalization.py
  geoarches/utils/tensordict_utils.py
  poetry.lock
  tests/dataloaders/test_era5_graphcast.py
  tests/metrics/test_ensemble_metrics.py
Owners: @robert-DL, @gcouairon

sync minor internal changes
  geoarches/backbones/archesweather.py
  geoarches/dataloaders/era5.py
  geoarches/metrics/deterministic_metrics.py
  pyproject.toml
Owners: @gcouairon, @robert-DL

make boolean masking compatible with jit
  geoarches/lightning_modules/forecast.py
  geoarches/utils/tensordict_utils.py
  tests/utils/test_tensordict_utils.py
Owners: @gcouairon, @robert-DL

make dataset picklable for jit
  geoarches/dataloaders/era5.py
  tests/dataloaders/test_era5.py
Owners: @robert-DL

cleanup normalization, dimension_indexers, nan handling
  geoarches/configs/config.yaml
  geoarches/configs/dataloader/era5.yaml
  geoarches/configs/dataloader/era5pred.yaml
  geoarches/dataloaders/era5.py
  geoarches/dataloaders/era5_constants.py
  geoarches/dataloaders/era5pred.py
  geoarches/dataloaders/netcdf.py
  geoarches/evaluation/eval_multistep.py
  geoarches/lightning_modules/forecast.py
  geoarches/main_hydra.py
  geoarches/stats/graphcast_norm_stats.nc
  geoarches/stats/pangu_norm_stats.nc
  geoarches/utils/normalization.py
  tests/dataloaders/test_era5.py
  tests/dataloaders/test_era5_graphcast.py
  tests/utils/test_normalization.py
Owners: @robert-DL, @gcouairon

clarify changes needed in configs if vars/levels change
  geoarches/configs/stats/graphcast.yaml
  geoarches/configs/stats/pangu.yaml
Owners: @robert-DL

test ds reselect timestamps for test/val
  tests/dataloaders/test_era5.py
Owners: @robert-DL

Added aimip data domains
  geoarches/dataloaders/era5.py
Owners: @robert-DL

Change aimip_val to 2014 instead of 2015. Update select timestamps
  geoarches/dataloaders/era5.py
  tests/dataloaders/test_era5.py
Owners: @robert-DL

Added constant mask for 1x1 degree grid
  geoarches/stats/archesweather_constant_masks_1x1.pt
Owners: @robert-DL

Some fixes in the dataloader to use the right time_dim_name
  geoarches/backbones/archesweather.py
  geoarches/dataloaders/era5.py
  geoarches/dataloaders/netcdf.py
  geoarches/stats/archesweather_constant_masks_1x1.pt
Owners: @gcouairon, @robert-DL

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*       @INRIA/geoarches-owners
*       @robert-DL

geoarches/backbones @gcouairon
geoarches/lightning_modules @gcouairon
